*{
    font-size:12px;
    padding:0px;
    margin: 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
    width:20px;
    length:20px;
}
body{
    background-color: rgb(199, 214, 214);
}

header{
    display: flex;
    justify-content: space-between;
    padding:8px;
}

.header-links-general{
    display:flex;
    flex-direction: column;
    margin-right: 16px;
    
}

.social-media{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-right: 4px;
    
}

.header-text-links{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.header-links{
    padding: 4px;
    font-size:12px;
    text-decoration: none;
    color:black
}
.header-links:hover{
    color:blue;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: red;
}


.pics{
    margin-left: 2px;
    margin-right: 2px;
}

.logo{
    margin-left: 16px;
}


.nav-link{
    text-decoration: none;
    padding:1rem;
    color: white;
    min-width: 20px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1c56a3;  
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-link:hover{
    background-color: white;
    color:black;
}
.nav-link.active{
    background-color: rgb(178, 212, 212);
    color: black;
    border-bottom-style: solid;
    border-color: red;
    border-width: 1px;
}
.center-footer, .left-footer, .right-footer{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px;
}

footer{
    display:flex;
    flex-wrap: wrap;
    gap:4px;
    color:white;
    
}

.footermajor{
    flex:1;
    background-color: #80989c;
    min-width: 200px;
    box-sizing: border-box;
    padding: 8px;

}
@media (max-width:600px){
    .footermajor{
        flex:100%
    }
}

.footer-bottom{
    background-color: yellow;
    padding:8px;
    color: navy;
    display: flex;
    justify-content: center;
}

.msfooter{
    padding:2px;
    color: navy;
}

@media (max-width: 600px) {
    * {
      font-size: 1rem; /* Bigger on tablets and phones */
    }
    .header-links{
        font-size: 14px;
    }
  }
.footer-links{
    text-decoration: none;
    color: white;
}







