*{
    font-size: 1.2rem;
    padding:0px;
    margin: 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
    width:20px;
    length:20px;
}

header{
    display: flex;
    justify-content: space-between;
    padding:8px;
}

.header-links-general{
    display:flex;
    flex-direction: column;
    margin-right: 16px;
    
}

.social-media{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-right: 4px;
    
}

.header-text-links{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.header-links{
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    text-decoration: none;
    color:black
}
.header-links:hover{
    color:blue;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: red;
}


.pics{
    margin-left: 2px;
    margin-right: 2px;
}

.logo{
    margin-left: 32px;
}

.span1{

}

.nav-link{
    text-decoration: none;
    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 24px;
    color: white;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1c56a3;   
}

.nav-link:hover{
    background-color: white;
    color:gray;

}
.center-footer, .left-footer, .right-footer{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px;
}
footer{
    display:flex;
    justify-content: space-between;
    margin-right: 32px;
    margin-left: 32px;
    font-size:12px;
}
.footer-bottom{
    background-color: yellow;
    padding:8px;
    color: navy;
    display: flex;
    justify-content: center;
}
.msfooter{
    padding:2px;
    color: navy;
}

.container {
    width: 100vw; /* Full screen width by default */
    min-width: 700px; /* Set the min width to your content's minimum size */
    box-sizing: border-box;
  }
  
  /* When screen is below 50% of original width (you can adjust the breakpoint) */
  @media screen and (max-width: 600px) {
.container {
      width: 100%; /* fixed content width */
    }
  }
.footer-links{
    text-decoration:none;
    color:black;
}








